<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Insurance Company{% endblock %}</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
        
            <li><a href="{% url 'about' %}">About company</a></li>
            <li><a href="{% url 'department_list' %}">Departments</a></li>
            <li><a href="{% url 'insurance_type_list' %}">Insurance types</a></li>
            <li><a href="{% url 'promo_list' %}">Promocodes</a></li>
            <li><a href="{% url 'reviews' %}">Reviews</a></li>
            <li><a href="{% url 'vacancies' %}">Vacancies</a></li>
            <li><a href="{% url 'contacts' %}">Contact</a></li>
            <li><a href="{% url 'faqs' %}">FAQ</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'dashboard' %}">Account</a></li>
                <li>
                    <form id="logout-form" action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Logout</button>
                    </form>
                </li>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
                
            {% endif %}
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>
