<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statistics</title>
</head>
<body>
    <h1>Statistics</h1>
    <ul>
        <li>Average Age of Customers: {{ average_age }}</li>
        <li>Median Age of Customers: {{ median_age }}</li>
        <li>Active Policies Count: {{ active_policies_count }}</li>
        <li>Completed Policies Count: {{ completed_policies_count }}</li>
        <li>Average Policies per Agent: {{ avg_policies_per_agent }}</li>
    </ul>
</body>
</html>
